.highlight  {
  background: #f5f5f5;
  padding: 0.8em 1em;
  border-radius: 3px;
  overflow-x: auto;
  margin: 1em 0;
}
.highlight pre {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #0066cc; font-weight: bold } /* Keyword */
.highlight .o { color: #333333; font-weight: normal } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #0099cc } /* Literal.Number */
.highlight .s { color: #dd1144 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Dark mode syntax highlighting */
body.dark-mode .highlight {
  background: #2d2d2d;
}

body.dark-mode .highlight .c { color: #7f8c8d; font-style: italic } /* Comment */
body.dark-mode .highlight .err { color: #e74c3c; background-color: #5a1a1a } /* Error */
body.dark-mode .highlight .k { color: #3498db; font-weight: bold } /* Keyword */
body.dark-mode .highlight .o { color: #ecf0f1; font-weight: normal } /* Operator */
body.dark-mode .highlight .cm { color: #7f8c8d; font-style: italic } /* Comment.Multiline */
body.dark-mode .highlight .cp { color: #95a5a6; font-weight: bold } /* Comment.Preproc */
body.dark-mode .highlight .c1 { color: #7f8c8d; font-style: italic } /* Comment.Single */
body.dark-mode .highlight .cs { color: #95a5a6; font-weight: bold; font-style: italic } /* Comment.Special */
body.dark-mode .highlight .gd { color: #ecf0f1; background-color: #5a1a1a } /* Generic.Deleted */
body.dark-mode .highlight .ge { font-style: italic } /* Generic.Emph */
body.dark-mode .highlight .gr { color: #e74c3c } /* Generic.Error */
body.dark-mode .highlight .gh { color: #95a5a6 } /* Generic.Heading */
body.dark-mode .highlight .gi { color: #ecf0f1; background-color: #1a5a1a } /* Generic.Inserted */
body.dark-mode .highlight .go { color: #bdc3c7 } /* Generic.Output */
body.dark-mode .highlight .gp { color: #bdc3c7 } /* Generic.Prompt */
body.dark-mode .highlight .gs { font-weight: bold } /* Generic.Strong */
body.dark-mode .highlight .gu { color: #95a5a6 } /* Generic.Subheading */
body.dark-mode .highlight .gt { color: #e74c3c } /* Generic.Traceback */
body.dark-mode .highlight .kc { color: #3498db; font-weight: bold } /* Keyword.Constant */
body.dark-mode .highlight .kd { color: #3498db; font-weight: bold } /* Keyword.Declaration */
body.dark-mode .highlight .kp { color: #3498db; font-weight: bold } /* Keyword.Pseudo */
body.dark-mode .highlight .kr { color: #3498db; font-weight: bold } /* Keyword.Reserved */
body.dark-mode .highlight .kt { color: #9b59b6; font-weight: bold } /* Keyword.Type */
body.dark-mode .highlight .m { color: #1abc9c } /* Literal.Number */
body.dark-mode .highlight .s { color: #e67e22 } /* Literal.String */
body.dark-mode .highlight .na { color: #16a085 } /* Name.Attribute */
body.dark-mode .highlight .nb { color: #16a085 } /* Name.Builtin */
body.dark-mode .highlight .nc { color: #9b59b6; font-weight: bold } /* Name.Class */
body.dark-mode .highlight .no { color: #16a085 } /* Name.Constant */
body.dark-mode .highlight .ni { color: #c39bd3 } /* Name.Entity */
body.dark-mode .highlight .ne { color: #e74c3c; font-weight: bold } /* Name.Exception */
body.dark-mode .highlight .nf { color: #e74c3c; font-weight: bold } /* Name.Function */
body.dark-mode .highlight .nn { color: #bdc3c7 } /* Name.Namespace */
body.dark-mode .highlight .nt { color: #3498db } /* Name.Tag */
body.dark-mode .highlight .nv { color: #16a085 } /* Name.Variable */
body.dark-mode .highlight .ow { color: #3498db; font-weight: bold } /* Operator.Word */
body.dark-mode .highlight .w { color: #7f8c8d } /* Text.Whitespace */
body.dark-mode .highlight .mf { color: #1abc9c } /* Literal.Number.Float */
body.dark-mode .highlight .mh { color: #1abc9c } /* Literal.Number.Hex */
body.dark-mode .highlight .mi { color: #1abc9c } /* Literal.Number.Integer */
body.dark-mode .highlight .mo { color: #1abc9c } /* Literal.Number.Oct */
body.dark-mode .highlight .sb { color: #e67e22 } /* Literal.String.Backtick */
body.dark-mode .highlight .sc { color: #e67e22 } /* Literal.String.Char */
body.dark-mode .highlight .sd { color: #e67e22 } /* Literal.String.Doc */
body.dark-mode .highlight .s2 { color: #e67e22 } /* Literal.String.Double */
body.dark-mode .highlight .se { color: #e67e22 } /* Literal.String.Escape */
body.dark-mode .highlight .sh { color: #e67e22 } /* Literal.String.Heredoc */
body.dark-mode .highlight .si { color: #e67e22 } /* Literal.String.Interpol */
body.dark-mode .highlight .sx { color: #e67e22 } /* Literal.String.Other */
body.dark-mode .highlight .sr { color: #27ae60 } /* Literal.String.Regex */
body.dark-mode .highlight .s1 { color: #e67e22 } /* Literal.String.Single */
body.dark-mode .highlight .ss { color: #c39bd3 } /* Literal.String.Symbol */
body.dark-mode .highlight .bp { color: #95a5a6 } /* Name.Builtin.Pseudo */
body.dark-mode .highlight .vc { color: #16a085 } /* Name.Variable.Class */
body.dark-mode .highlight .vg { color: #16a085 } /* Name.Variable.Global */
body.dark-mode .highlight .vi { color: #16a085 } /* Name.Variable.Instance */
body.dark-mode .highlight .il { color: #1abc9c } /* Literal.Number.Integer.Long */
