---
layout: default
title: Abhi Diddigi
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}

        {% if post.title != "" %}
          {% if post.tag != "personal" %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }} </a></li>
          {% endif %}
        {% endif %}

       
    {% endfor %}
  </ul>
  
  

  <h1>Noteworthy Open Source Projects and Recognition</h1>
  <ul class="posts">
    <li><a href="https://github.com/abhididdigi/Jello">Jello:</a> Apache Jelly in Javascript.</li>
    <li><a href="https://github.com/abhididdigi/SNPort">SNPort:</a> Blazingly fast MID Server Script Includes.</li>
    <li><a href="https://community.servicenow.com/docs/DOC-2414">ServiceNow Community member of the month - 2013</a> </li>
  </ul>
   <h1>Who am I?</h1>
  <ol class="posts">
    <li>I worked/work as a software engineer in the bay area now, my official title is Development Manager.</li>
    <li>I specialize in a platform called ServiceNow, but know my way around Python, Javascript, Go. </li>
    <li>I also am pursuing my masters from Gerogia Tech.</li>
  </ol>
 

</div>
